/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*navbar style*/
#header {
  padding: 30px;
  font-family: "Jost", sans-serif;
  background-color: rgba(255, 255, 255, 0);
}

#header a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

#header a:hover {
  color: #333a45;
}

#header ul li a {
  margin-right: 10px;
  color: #333a45;
}

#header .act {
  color: #f44c7f;
  font-weight: 800;
}

#header .act:hover {
  color: #f44c7f;
}

#header .translate {
  margin-right: 15px;
}

/*Home Style*/
#hero {
  min-height: 88vh;
  background-image: url("../img/Vector632.png");
}

#hero .mainHero {
  margin-left: 100px;
  margin-top: 50px;
}

#hero .mainHero span {
  display: block;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.03em;
  color: #333a45;
}

#hero .mainHero p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  max-width: 300px;
  color: #939eae;
}

#hero .btn-bg {
  width: 148px;
  height: 50px;
  background-color: #f44c7f;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: white;
}

#hero .btn:hover {
  color: white;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/*animasihero*/
#hero .wrapper {
  perspective: 1000px;
  width: 500px;
  height: 500px;
}

#hero .wrapper:hover .inner-wrapper {
  transform: rotateY(180deg);
}

#hero .inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

#hero .depan,
.belakang {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 500px;
  height: 500px;
}

#hero .belakang {
  transform: rotateY(180deg);
}

/* Products Section Style */
#products .we {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
  margin-top: 3rem;
}

#products .launch {
  text-align: center;
  font-family: "Jost", sans-serif;
}

#products .premium {
  text-align: left;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
  margin-top: 7rem;
}

#products .gosh {
  font-family: "Jost", sans-serif;
  text-align: left;
}

#products .baju2 {
  background-image: url("Vector\ 133.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: 110px;
  width: 362px;
  height: 336px;
  margin-top: 1rem;
}

#products .high {
  text-align: left;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
  margin-top: 14rem;
  margin-left: 12rem;
}

#products .hd {
  text-align: left;
  font-family: "Jost", sans-serif;
  margin-left: 12rem;
}

#products .baju3 {
  width: 362px;
  height: 344px;
  background-image: url("Vector\ 133.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: 100px;
  margin-top: 6rem;
  margin-left: -1rem;
}

/*Frequently Ask Questions style*/
#faq .ac {
  border-radius: 10px;
}

#faq .ac .ac-header {
  padding: 1.3rem 0;
  transition: 0.5s;
}

#faq .ac .ac-header .ph-minus-bold {
  opacity: 0;
  display: none;
}

#faq .ac .ac-trigger::after {
  display: none;
}

#faq .ac i {
  font-size: 1.7rem;
  font-weight: bolder;
}

#faq .ac .ac-trigger {
  margin-left: 0.5rem;
}

#faq .ac .ac-panel {
  margin-left: 3.3rem;
}

/*get started style*/
#get-started .bg-get-started {
  background-image: url("../img/bg-get-started.png");
  object-fit: cover;
  min-height: 45vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 25px;
}

#get-started .test {
  margin-top: 3rem;
  margin-left: 4rem;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
}

#get-started .start {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-left: 9rem;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

#get-started .bawah {
  margin-top: 30px;
  color: #fff;
  margin-left: 4rem;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

#get-started .baju {
  margin-left: -9rem;
}

#get-started .twas3 {
  background-image: url("../img/bg_twas.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 60px;
}

/*footer style*/
#footer {
  border-radius: 25px 25px 0 0;
  background-color: rgb(49, 49, 49) !important;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .contacts-icon a:hover {
  opacity: 0.5;
  text-decoration: none;
}

#footer .contacts-icon a {
  font-size: 1.5rem;
}

#footer .email {
  width: 70%;
  padding: 0.5rem;
  background-color: #000;
}

#footer .email input {
  background: transparent;
  border: 0;
  color: #fff;
}

#footer .email input:focus {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

#footer .email .btn {
  background-color: #fff;
  border-radius: 0;
}
#footer .email .btn i {
  margin: auto;
}
