#footer {
  border-radius: 25px 25px 0 0;
  background-color: rgb(49, 49, 49) !important;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .contacts-icon a:hover {
  opacity: 0.5;
  text-decoration: none;
}

footer .contacts-icon a {
  font-size: 1.5rem;
}

footer .email {
  width: 70%;
  padding: 0.5rem;
  background-color: #000;
}

footer .email input {
  background: transparent;
  border: 0;
  color: #fff;
}

footer .email input:focus {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

footer .email .btn {
  background-color: #fff;
  border-radius: 0;
}
footer .email .btn i {
  margin: auto;
}

#get-started {
  background-image: url("../img/bg-get-started.png");
  object-fit: cover;
  min-height: 45vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-radius: 25px;
}
.test {
  margin-top: 3rem;
  margin-left: 4rem;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Jost", sans-serif;
}
.start {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
  margin-left: 9rem;
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

.bawah {
  margin-top: 30px;
  color: #fff;
  margin-left: 4rem;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
.baju {
  margin-left: -9rem;
}
.twas3 {
  background-image: url("../img/bg_twas.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 60px;
}
